.table-container {
  margin-left: 20px;
  margin-right: 20px;
}

.filter-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
.mat-table {
  width: 100%;
  margin-top: 20px;
}

.search-input {
  margin-left: 100px;
  width: 500px;
}
